<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mustache Activity</title>

</head>

<body>


        <h1>
          DIS IZ MAH TUHDOO LISSSST
        </h1>

          <form class="" action="/" method="post">
            <input type="text" name="newItem" value="" placeholder="add new item">
            <button type="submit" name="button">Add Todo Item</button>
          </form>

        {{#data}}
          {{^done}}
            <form class="" action="/{{id}}" method="post">
              <button type="submit" name="button">'Tis done</button>
              <label>{{todoItem}}</label>
            </form>
          {{/done}}
        <br>
        {{/data}}
        <hr>
        <ul>
          {{#data}}
            {{#done}}
              <li>{{todoItem}}</li>
            {{/done}}
          {{/data}}
        </ul>

</body>

</html>

<!-- Latest compiled and minified JavaScript -->
